:root {
    --cs-black: #000000;
    --cs-white: #ffffff;
    --cs-pink: #c85e7a;
    --cs-dark-red: #be5046;
    --cs-green: #5fda64;
    --cs-dark-green: #3a6e11;
    --cs-light-yellow: #fddd00;
    --cs-blue: #61afef;
    --cs-purple: #542c7d;
    --cs-cyan: #5dc9e2;
    --cs-med-cyan: #50b7e0;
    --cs-dark-cyan: #007d9c;
    --cs-gutter-grey: #4b5263;
    --cs-comment-grey: #5c6370;

    /* Theming... */
    --cs-background: var(--cs-dark-cyan);
    --cs-highlight: var(--cs-light-yellow);
}

html,
body,
#app,
#page-root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.slidev-layout {
    background-color: var(--cs-background);
}

.slidev-layout a,
.slidev-layout a:hover {
    color: var(--cs-highlight);
}

.slidev-layout h1,
.slidev-layout h2,
.slidev-layout h3,
.slidev-layout h4,
.slidev-layout h5,
.slidev-layout h6 {
    font-weight: 500;
}
